<!DOCTYPE html>
<html>
<head>
  <title>LoginBootstrapStyle</title>
  <%= stylesheet_link_tag :all %>
  <%= stylesheet_link_tag "http://twitter.github.com/bootstrap/assets/css/bootstrap-1.2.0.min.css" %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
