<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="clearfix"><%= f.label :email %>
  <div class="input">
  <%= f.email_field :email %>
  </div>
</div>

  <div class="clearfix"><%= f.label :password %> <div class="input">
  <%= f.password_field :password %><br/>
  <span><i>(leave blank if you don't want to change it)</i></span>
  
  </div>
</div>

  <div class="clearfix"><%= f.label :password_confirmation %><div class="input">
  <%= f.password_field :password_confirmation %></div>
</div>

  <div class="clearfix"><%= f.label :current_password %> <div class="input">
  <%= f.password_field :current_password %>
  <br/>
  <span><i>(we need your current password to confirm your changes)</i></span>
  </div>
</div>

  <div class="clearfix"><div class="input"><%= f.submit "Update", :class=>"btn primary" %></div></div>
<% end %>

<h3>Cancel my account</h3>

<ul class="pills">
<li><%= link_to "Unhappy? Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete %>.
</li>
<li>
<%= link_to "Back", :back %>
</li>
</ul>